.moz-css-grid-container {
  overflow: hidden;
  height: 100%;
}

@mixin common_block_style(){
  overflow: hidden;
}
ngx-moz-top-header {
  @include common_block_style;
}

ngx-moz-mid-header {
  @include common_block_style;
}

ngx-moz-bot-header {
  @include common_block_style;
}

ngx-moz-top-footer {
  @include common_block_style;
}

ngx-moz-mid-footer {
  @include common_block_style;
}

ngx-moz-bot-footer {
  @include common_block_style;
}

ngx-moz-left-content {
  @include common_block_style;
}

ngx-moz-mid-content {
  @include common_block_style;
}

ngx-moz-right-content {
  @include common_block_style;
}

ngx-moz-left-sidebar {
  @include common_block_style;
}

ngx-moz-right-sidebar {
  @include common_block_style;
}