<div class="moz-css-grid-container" [ngStyle]="layout.getGridStyle()">
    <ngx-moz-top-header [comp]="layoutComponents.TH" style="grid-area: TH"></ngx-moz-top-header>
    <ngx-moz-mid-header [comp]="layoutComponents.MH" style="grid-area: MH"></ngx-moz-mid-header>
    <ngx-moz-bot-header [comp]="layoutComponents.BH" style="grid-area: BH"></ngx-moz-bot-header>
    <ngx-moz-left-sidebar [comp]="layoutComponents.LS" style="grid-area: LS"></ngx-moz-left-sidebar>
    <ngx-moz-left-content [comp]="layoutComponents.LC" style="grid-area: LC"></ngx-moz-left-content>
    <ngx-moz-mid-content [comp]="layoutComponents.MC" style="grid-area: MC"></ngx-moz-mid-content>
    <ngx-moz-right-content [comp]="layoutComponents.RC" style="grid-area: RC"></ngx-moz-right-content>
    <ngx-moz-right-sidebar [comp]="layoutComponents.RS" style="grid-area: RS"></ngx-moz-right-sidebar>
    <ngx-moz-top-footer [comp]="layoutComponents.TF" style="grid-area: TF"></ngx-moz-top-footer>
    <ngx-moz-mid-footer [comp]="layoutComponents.MF" style="grid-area: MF"></ngx-moz-mid-footer>
    <ngx-moz-bot-footer [comp]="layoutComponents.BF" style="grid-area: BF"></ngx-moz-bot-footer>
</div>