<div class="application-control">

  <div class="toogle-controller">
    <div class="item th" (click)="toggle('TH')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaState('TH') | async) === 'on'
    }"></span></div>
    <div class="item mh" (click)="toggle('MH')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaState('MH') | async) === 'on'
    }"></span></div>
    <div class="item bh" (click)="toggle('BH')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaState('BH') | async) === 'on'
    }"></span></div>
    <div class="item ls" (click)="toggle('LS')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaState('LS') | async) === 'on'
    }"></span></div>
    <div class="item lc" (click)="toggle('LC')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaState('LC') | async) === 'on'
    }"></span></div>
    <div class="item mc" ></div>
    <div class="item rc" (click)="toggle('RC')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaState('RC') | async) === 'on'
    }"></span></div>
    <div class="item rs" (click)="toggle('RS')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaState('RS') | async) === 'on'
    }"></span></div>
    <div class="item tf" (click)="toggle('TF')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaState('TF') | async) === 'on'
    }"></span></div>
    <div class="item mf" (click)="toggle('MF')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaState('MF') | async) === 'on'
    }"></span></div>
    <div class="item bf" (click)="toggle('BF')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaState('BF') | async) === 'on'
    }"></span></div>
  </div>

</div>