<div class="application-control">

  <div class="toogle-controller">
    <div class="item th" (click)="toggle('TH')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaBehaviorSubject('TH') | async) === 'on',
      transition:(layout.getAreaBehaviorSubject('TH') | async) === 'transition'
    }"></span></div>
    <div class="item mh" (click)="toggle('MH')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaBehaviorSubject('MH') | async) === 'on',
      transition:(layout.getAreaBehaviorSubject('MH') | async) === 'transition'
    }"></span></div>
    <div class="item bh" (click)="toggle('BH')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaBehaviorSubject('BH') | async) === 'on',
      transition:(layout.getAreaBehaviorSubject('BH') | async) === 'transition'
    }"></span></div>
    <div class="item ls" (click)="toggle('LS')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaBehaviorSubject('LS') | async) === 'on',
      transition:(layout.getAreaBehaviorSubject('LS') | async) === 'transition'
    }"></span></div>
    <div class="item lc" (click)="toggle('LC')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaBehaviorSubject('LC') | async) === 'on',
      transition:(layout.getAreaBehaviorSubject('LC') | async) === 'transition'
    }"></span></div>
    <div class="item mc" (click)="layout.saveCurrentLayoutConfig()">SAVE LAYOUT</div>
    <div class="item rc" (click)="toggle('RC')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaBehaviorSubject('RC') | async) === 'on',
      transition:(layout.getAreaBehaviorSubject('RC') | async) === 'transition'
    }"></span></div>
    <div class="item rs" (click)="toggle('RS')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaBehaviorSubject('RS') | async) === 'on',
      transition:(layout.getAreaBehaviorSubject('RS') | async) === 'transition'
    }"></span></div>
    <div class="item tf" (click)="toggle('TF')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaBehaviorSubject('TF') | async) === 'on',
      transition:(layout.getAreaBehaviorSubject('TF') | async) === 'transition'
    }"></span></div>
    <div class="item mf" (click)="toggle('MF')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaBehaviorSubject('MF') | async) === 'on',
      transition:(layout.getAreaBehaviorSubject('MF') | async) === 'transition'
    }"></span></div>
    <div class="item bf" (click)="toggle('BF')"><span [ngClass]="{
      indication:true,
      active:(layout.getAreaBehaviorSubject('BF') | async) === 'on',
      transition:(layout.getAreaBehaviorSubject('BF') | async) === 'transition'
    }"></span></div>
  </div>

</div>